.Question{
	position: relative;
	width: 100%;
	height: auto;
	padding: 20px;
	color: white;
	margin: 0;
}

.Question .Label{
	font-weight: bold;
}

.Question .Description{
	font-style: italic;
	font-weight: 10;
	color: #e3e3e5;
}

.Question .Reset{
	font-weight: bold;
	color: #e3e3e5;
	float: right;
	cursor: pointer;
	width: 3%;
	height: auto;
	text-align: center;
}